* {
  font-family: 'Abhaya Libre', 'Prompt', sans-serif;
}

h1{
    font-size: 50px;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #444444;
  color: white;
  padding: 2rem;
}

.buttons button {
  margin: 10px;
  font-size: 1.1rem;      /* ขนาดตัวอักษร */
  padding: 20px 50px;     /* บนล่าง | ซ้ายขวา */
  border-radius: 80px;
  border: none;
  cursor: pointer;
  
}

#drawBtn {
  background: #4caf50;
  padding: 60px 60px; /* เขียว */
}

#resetBtn {
  background: #f44336; /* แดง */
}

#historyBtn {
  background: #2196f3; /* น้ำเงิน */
}

#addBtn {
  background: #ff9800; /* ส้ม */
}

#deleteBtn {
  background: #9c27b0; /* ม่วง */
}


.scene {
  width: 540px;
  height: 640px;
  margin: 3rem auto;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 12px;
  box-shadow: 0 16px 50px rgba(0, 0, 0, 0.25);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front {
  background-image: url("https://i.pinimg.com/1200x/1c/dd/1f/1cdd1f2b174f95a15157b02fd4997fc4.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.card-back {
  background-image: url("https://i.pinimg.com/1200x/1c/dd/1f/1cdd1f2b174f95a15157b02fd4997fc4.jpg");
  color: black;
  transform: rotateY(180deg);
  padding: 1rem;
}

.card.challenge .card-back {
  background-image: url("https://i.pinimg.com/736x/71/6f/52/716f52d894b785f17447c25315629346.jpg");
  color: white;
}

.card.character .card-back {
  background-image: url("https://i.pinimg.com/736x/66/13/44/6613449e5090b74316436e887d90b6aa.jpg");
  color: black;
}

.card.waiting .card-back {
  filter: blur(0px);
}

#cardOwner {
position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px; 
}

.hidden {
  display: none;
}

#historyBox {
  background: #111;
  padding: 1rem;
  border-radius: 10px;
  max-width: 320px;
  margin: 1rem auto;
  text-align: left;
  font-size: 0.9rem;
}
#cardText {
  font-size: 79px;          /* ใหญ่มาก อ่านชัด */
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  word-break: break-word;
}
