* {
  font-family: 'Abhaya Libre', 'Prompt', sans-serif;
}

h1{
    font-size: 50px;
}

body {
  font-family: sans-serif;
  text-align: center;
  background: #000;
  color: white;
  padding: 2rem;
}

.buttons button {
  margin: 10px;
  font-size: 1.1rem;      /* ขนาดตัวอักษร */
  padding: 20px 50px;     /* บนล่าง | ซ้ายขวา */
  border-radius: 80px;
  border: none;
  cursor: pointer;
  
}

#drawBtn {
  background: #4caf50;
  padding: 60px 60px; /* เขียว */
}

#resetBtn {
  background: #f44336; /* แดง */
}

#historyBtn {
  background: #2196f3; /* น้ำเงิน */
}

#addBtn {
  background: #ff9800; /* ส้ม */
}

#deleteBtn {
  background: #9c27b0; /* ม่วง */
}


.scene {
  width: 540px;
  height: 640px;
  margin: 2rem auto;
  perspective: 1000px;
}

.card {
margin: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 12px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front {
  background: linear-gradient(135deg, #ff0080, #7928ca);
  font-size: 5rem;
}

.card-back {
  background: white;
  color: black;
  transform: rotateY(180deg);
  padding: 1rem;
}

.card.challenge .card-back {
  background: #212121;
  color: white;
}

.card.character .card-back {
  background: #f5c400;
  color: black;
}

.card.waiting .card-back {
  filter: blur(0px);
}

#cardOwner {
position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px; 
}

.hidden {
  display: none;
}

#historyBox {
  background: #111;
  padding: 1rem;
  border-radius: 10px;
  max-width: 320px;
  margin: 1rem auto;
  text-align: left;
  font-size: 0.9rem;
}
